html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
.topBar {
    background-image: url("https://img1.picmix.com/output/stamp/normal/3/0/3/6/2476303_df879.gif");
    background-color: black;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}
.about {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    visibility: hidden;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 100%;
    opacity: 0;
}
.projects {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    visibility: hidden;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 100%;
    opacity: 0;
}
.profilePic {
    text-align: center;
    margin-bottom: 0;
}
.profilePic img {
    margin-top: 3%;
    margin-bottom: 0;
}
.myInfo {
    text-align: center;
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: large;
    color: white;
    line-height: .4;
    visibility: hidden;
    margin-top: 100%;
}
.pageNav {
    text-align: center;
    margin-top: 100%;
}
.aboutNav {
    background-color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 26px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.projNav {
    background-color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 26px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.empty {
    background: none;
    border: none;
    width: 5%;
}
.profilePic img {
    border-radius: 100%;
    transition: 1s;
    transform: scale(1);
}
.profilePic img:hover {
    transition: 1s;
    transform: scale(1.1);
}
.pageWrap {
    margin-top: 0;
    margin-bottom: 10%;
}
.pageTitle {
    margin-top: 0;
    margin-bottom: 0;
    height: fit-content;
}
.abtTitle {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
.proTitle {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
.leftAbout {
    text-align: center;
}
.rightAbout {
    text-align: center;
}
.frontEnd {
    border: 1px black solid;
    margin-top: 0;
}
.backEnd {
    border: 1px black solid;
    margin-top: 0;
}
.buttWrapper {
    text-align: center;
    height: fit-content;
}
.backButt {
    width: fit-content;
    height: fit-content;
    border: none;
    background: none;
    font-size: 66px;
}
@media (min-width: 768px) {
    .pageTitle {
        font-size: 76px;
    }
}