html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
.spaceSection iframe {
    position: absolute;
    z-index: 0;
    left: 50%;
    width: 97%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
}
.topBar {
    background-image: url("https://img1.picmix.com/output/stamp/normal/3/0/3/6/2476303_df879.gif");
    background-color: black;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}
.about {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    visibility: hidden;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 100%;
    opacity: 0;
}
.projects {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    visibility: hidden;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 100%;
    opacity: 0;
}
.profilePic {
    text-align: center;
}
.profilePic img {
    margin-bottom: 3%;
}
.myInfo {
    text-align: center;
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: large;
    color: white;
    line-height: .4;
    margin-bottom: 3%;
    z-index: 1;
}
.outsideNav p {
    display: inline;
}
.outsideNav a {
    display: inline;
    color: white;
    text-decoration: none;
}
.pageNav {
    text-align: center;
    z-index: 1;
}
.aboutNav {
    background-color: white;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Courier New', monospace;
}
.projNav {
    background-color: white;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Courier New', monospace;
}
.empty {
    background: none;
    border: none;
    width: 5%;
}
.profilePic img {
    border-radius: 100%;
    transition: 1s;
    transform: scale(1);
}
.profilePic img:hover {
    transition: 1s;
    transform: scale(1.1);
}
.pageWrap {
    margin-top: 0;
    margin-bottom: 10%;
}
.pageTitle {
    margin-top: 0;
    margin-bottom: 0;
    height: fit-content;
}
.abtTitle {
    font-family: "Playwrite DE Grund", cursive;
    font-size: 5vmax;
    font-weight: 100;
    font-style: normal;
}
.proTitle {
    font-family: "Playwrite DE Grund", cursive;
    font-size: 5vmax;
    font-weight: 100;
    font-style: normal;
}
.leftAbout {
    text-align: center;
    align-content: center;
}
.rightAbout {
    text-align: center;
    align-content: center;
}
.frontEnd {
    margin: 0;
}
.backEnd {
    margin: 0;
}
.buttWrapper {
    text-align: center;
    height: fit-content;
}
.backButt {
    width: fit-content;
    height: fit-content;
    border: none;
    background: none;
    font-size: 66px;
}
.projectPic img {
    height: 200px;
    object-fit: cover;
}
.projectPic img:hover {
    cursor: pointer;
}
.airBoxInfo img:hover {
    transition: 2s;
    content: url('../media/airboxGif.gif');
}
.detroixInfo img:hover {
    transition: 1s;
    content: url('../media/detroixGif.gif');
}
.bloomInfo img:hover {
    transition: 1s;
    content: url('../media/bloomGif.gif');
}
.kioskInfo img:hover {
    transition: 1s;
    content: url('../media/kioskGif.gif');
}
.textInfo {
    position: absolute;
    border: 4px black solid;
    margin: 0;
    padding: 0;
    width: fit-content;
    align-items: center;
    align-self: center;
    align-content: center;
    background-color: white;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
}
.info {
    text-align: left;
    align-self: flex-start;
    margin: 0;
}
.links a {
    color: black;
    margin: 0;
}
.exit {
    text-align: right;
    align-self: flex-start;
    margin: 0;
    margin-top: -2%;
}
.hideContent {
    text-align: right;
    font-size: 35px;
    font-weight: 900;
    color: #404040;
    stroke: black;
}
.hideContent:hover {
    cursor: pointer;
}
.hidden {
    visibility: hidden;
}
.rotate-down {
    animation: rotateArrow 0.3s forwards;
}
@keyframes rotateArrow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
@media (max-width: 431px) {
    .aboutNav {
        transition: 1s;
        background-color: white;
        border: none;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 150px;
        font-size: 13px;
        font-weight: 600;
        font-family: 'Courier New', monospace;
    }
    .projNav {
        transition: 1s;
        background-color: white;
        border: none;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 150px;
        font-size: 13px;
        font-weight: 600;
        font-family: 'Courier New', monospace;
    }
}